IOAREA          EQU     -16                         ; Address of the I/O-Area, modulo 2^18.
INPUT           EQU     7                           ; Position of the input buttons (relative to IOAREA).
OUTPUT          EQU     11                          ; Relative position of the power outputs.
DSPDIG          EQU     9                           ; Relative position of the 7-segment display's digit selector.
DSPSEG          EQU     8                           ; Relative position of the 7-segment display's segments.
TIMER           EQU     13                          ; Timer address relative to IOAREA.
ADCONV          EQU     6                           ; A/D-converter address relative to IOAREA.
CODESEG         EQU     14                          ; Address of code segment is stored here.